/* Estilos para el encabezado */
header {
    position: absolute;
    top: 0;
    right: 53.6px; /* 67% del tamaño original */
    padding: 6.7px; /* 67% del tamaño original */
    background-color: #FFFFFF;
    z-index: 999;
    margin: 0;
    padding: 0;
}

/* Estilo para el elemento "INICIO" en el menú de navegación */
nav li:first-child a {
    color: #BA47EB;
}
/* Estilos para el contenido principal */
main {
    margin-top: 46.9px; /* 67% del tamaño original */
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 9.38px 10.72px; /* 67% del tamaño original */
    text-decoration: none;
}

/* Estilos para la sección "Sobre la Nutrición" con fondo al 60% de opacidad */
.sobre-la-nutricion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    background-color: rgba(136, 61, 138, 255); /* Color de fondo con opacidad al 60% */
    height: 100%; /* Establece la altura al 100% del viewport */
    font-size: 67%; /* Ajusta el tamaño de la fuente al 67% del tamaño original */
}

.sobre-la-nutricion h2,
.sobre-la-nutricion p {
    text-align: center;
}
/* Estilos para el segundo párrafo en la sección "Sobre la Nutrición" */
.segundo-parrafo {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16.884px; /* 67% del tamaño original */
    line-height: 180%;
    text-align: center;
    color: white; /* Cambia el color del texto a blanco */
    word-wrap: break-word;
    max-width: 268px; /* 67% del tamaño original */
    margin-left: 26.8px; /* 67% del tamaño original */
    margin-top: 0px; /* Ajusta el margen superior según cuánto desees mover el texto hacia abajo */
}
.sobre-la-nutricion h2 {
    font-family: 'Abel'; /* Utiliza la misma fuente que en "Especialidades" */
    font-weight: 400;
    font-size: 26.8px; /* 67% del tamaño original */
    line-height: 130%; /* Nuevo espaciado de línea */
    text-align: center;
    color: #000000; /* Nuevo color de texto */
}   

/* Estilos para el texto destacado en la sección "Sobre la Nutrición" */
.sobre-la-nutricion p {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16.884px; /* 67% del tamaño original */
    line-height: 180%;
    text-align: center;
    color: white; /* Cambia el color del texto a blanco */
}

.sobre-la-nutricion .img-txt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 33.5px; /* 67% del tamaño original */
    margin-top: 67px; /* 67% del tamaño original */
}

.sobre-la-nutricion img {
    width: 299.3493px; /* 67% del tamaño original */
    height: auto;
    border-radius: 11.89765px; /* 67% del tamaño original */
    position: relative; /* Cambia la posición de la imagen a "relative" o "absolute" según tus preferencias */
    top: -13.4px; /* 67% del tamaño original */
    left: -13.4px; /* 67% del tamaño original */
}
.la-nutri {
    color: rgb(255, 255, 255); /* Cambia el color del texto a blanco */
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16.884px; /* 67% del tamaño original */
    text-align: center;
}





  

/* Estilos para la sección "Especialidades" */
.especialidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    background-color: #FFFFFF;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 26.8px; /* 67% del tamaño original */
    line-height: 130%; /* Nuevo espaciado de línea */
    text-align: center;
}

.especialidades h2,
.especialidades p:first-of-type {
    text-align: center; /* Añade esta línea */
}
.especialidades p:first-of-type,
.especialidades div div p {
    color: gray; /* Cambia el color del texto a blanco */
    font-size: 16.884px; /* 67% del tamaño original */
}
.especialidades .img-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.especialidades img {
    width: 299.3493px; /* 67% del tamaño original */
    height: auto;
    border-radius: 11.89765px; /* 67% del tamaño original */
}

.especialidades div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -46.9px; /* 67% del tamaño original */
}

.especialidades div div p:before {
    content: '• ';
}

.especialidades h2 {
    font-family: 'Abel'; /* Utiliza la misma fuente que en "Especialidades" */
    font-weight: 400;
    font-size: 26.8px; /* 67% del tamaño original */
    line-height: 130%; /* Nuevo espaciado de línea */
    text-align: center;
    color: #000000; /* Nuevo color de texto */
}








/* Cuando la pantalla tiene 800px o menos, cambia los estilos */
@media (max-width: 800px) {
    .especialidades {
        display: block; /* Cambia la disposición de flex a block */
        /* Añade o modifica los estilos que necesites para esta dimensión de pantalla */
    }
}

@media (max-width: 800px) {
    .sobre-la-nutricion {
        margin-left: 0px;
        margin-top: 100px;
    }
    @media (max-width: 800px) {
        .img-txt {
            display: flex;
            flex-direction: column; /* Cambia la dirección de flexión a columna */
            margin-left: 100px;
        }
    
        .segundo-parrafo {
            order: 2; /* Cambia el orden del segundo párrafo */
            margin-left: 0px;
        }
    
        .imagen2 {
            order: 1; /* Cambia el orden de la imagen2 */
            max-width: 100%; /* Asegura que la imagen no se estire */
            height: auto; /* Permite que la altura se ajuste automáticamente */
            margin-top: -40px;
            margin-left: -10px;
        }
    }
    
}

    
    @media (max-width: 800px) {
    /* Estilos para el encabezado */
    header {
        /* Hace que el fondo del encabezado sea transparente */
        background-color: transparent;
    }

    header ul {
        display: block;
        width: 100px;
        margin-left: 100px;
        margin-top: 100px;
    }
}
@media (max-width: 800px) {
    .imagen3 {
        height: auto;
        width: 100%;
        max-height: 400px;
        margin-left: -140px;
    }

        .only-4-points {
            margin-top: 20px
        }
        .only-4-points p {
            margin: 0; /* Elimina el margen vertical que podría causar el espacio entre líneas */
            white-space: nowrap; /* Evita el salto de línea entre los elementos de la lista */
        }
}

@media (max-width: 800px) {
    footer p {
        font-size: 16px; /* Tamaño de fuente para el primer párrafo */
    }

    footer ul li span {
        font-size: 16px; /* Tamaño de fuente para los textos en la lista de iconos */
    }
}